# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        28
        99
        104
        105
        115
        101
        108
        37
        51
        65
        102
        97
        99
        116
        111
        114
        121
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        54
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        71
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        73
        -50
        -56
        44
        78
        -51
        1
        114
        -45
        18
        -109
        75
        -14
        -117
        42
        -19
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        -51
        24
        24
        26
        88
        -2
        -29
        1
        12
        12
        -1
        -1
        -113
        -54
        15
        111
        121
        0
        -92
        -126
        -17
        57
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        28
        99
        104
        105
        115
        101
        108
        37
        51
        65
        102
        97
        99
        116
        111
        114
        121
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        54
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        76
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        73
        -50
        -56
        44
        78
        -51
        1
        114
        -45
        18
        -109
        75
        -14
        -117
        42
        -19
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        -51
        24
        24
        26
        88
        -2
        -29
        1
        12
        12
        -1
        -1
        15
        -92
        60
        -53
        0
        -37
        63
        18
        -4
        7
        0
        -84
        34
        -17
        65
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


