# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=*"SOLAR FLARE!!!"*
    S:OnSleepText=has given up, saying: "Has anyone even seen the time?! You're all insane!!"
    S:OnWakeText=has been summoned. *Whomever did so must pay the price!!*
    I:SleeperPerc=25
}


