# Configuration file

##########################################################################################################
# general_configs
#--------------------------------------------------------------------------------------------------------#
# General Config
##########################################################################################################

general_configs {
    # How much money to give the play in exchange for each Forge Energy unit
    D:forgeEnergyPrice=

    # Minimum mb sold by Seller at a time. Smaller values = more lag. Set low if difficult to obtain and expensive liquids are sellable, like UU matter.
    I:liquidSellPacketSize=100

    # Minimum power sold by Seller at a time. Smaller values = more lag. Set low if it's extremely difficult for the player to produce power in this modpack.
    I:powerSellPacketSize=10000

    # How much money each player starts with
    D:startingMoney=100.0
}


